html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
a{
    background: green;
}
.link1 {
    border-style: none;
        color:White;
    
    background: Transparent;
   
    text-decoration-color: Transparent;
    position: fixed;
  top: 250px;
    left: 250px;
}
