html, body {
  margin: 0;
  padding: 0;
  
	text-align: -webkit-center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . ." ". . titulo titulo . ." ". . . . . ." ". botones botones botones botones ." ". . . . . ." ". . . . . ." ". . . . . .";
}

.titulo { grid-area: titulo; }

.botones { grid-area: botones; }

.loader{
	height: 30px;	 
	width: 30px;
}
canvas {
  display: block;
}
.button {
    width:100px;
    height:50px;
    -moz-box-shadow:inset 0 1px 1 0 #9F4B25;
    -webkit-box-shadow:inset 0 1px 0 0 #9F4B25;
    box-shadow:inset 0 5px 0 0 #B0793A;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9F4B25), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 10%, #d1d1d1 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#773FBF', endColorstr='#773FBF');
    background-color:#9F4B25;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:8px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#000000;
    font-family:DFPOP1-W9;
    font-size:17px;
    font-weight:600;
    padding:10px 10px;
    text-decoration:none;
    text-shadow:1px 1px 1 #9F4B25
}



  .button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #d1d1d1 5%, #ffffff 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');
    background-color:#d1d1d1
}
.button:active {
    position:relative;
    top:1px
}

section{
	
	padding:10px;
	box-shadow:  2px 2px 16px rgba(0,0,0,0.4);
	border-radius:5px;
	overflow:auto;
	transition: .4s;
	width: 90%;
	
}
#navbar {
 
  position: fixed; 
  top: -60px; 
  width: 100%;
  color: #555;
  transition: top 0.5s; 
  box-shadow:  2px 2px 16px rgba(0,0,0,0.3);
  z-index:2;
}
#navbar span,#navbar a {
  float: left;
  color: #ccc!important;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  height:27px;
}
@-webkit-keyframes animatebottom {
  0% {
opacity:0;
   top:80%;
}


100% {
opacity:1;
	top:20%;
}
}

@keyframes animatebottom { 
  0% {
opacity:0;
   top:80%;
}



100% {
opacity:1;
	top:20%;
}
}
#navbar span:active,#navbar a:active{
  background-color: #444;
  color: black;
}
.if{
	width: 90vw;
	height: 200px;
	padding: 10px;
	background-color: #333;
	border-radius: 3px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  z-index:;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 10px;
  width: 80vw;
  transform: translate(-50%, -50%);
  text-align: center ;
  font-size: 30px;
  animation: animatebottom 2s ;
  -webkit-animation: animatebottom 2s ;
  background-color: lightblue;
   color: #6f9181;
  transition: 0.5s;
}
a{
	text-decoration: none;
	color: #eee;
	
}
.centered2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center ;
  font-size:20px;
  padding: 10px;
  animation: up 2s infinite ;
  -webkit-animation: up 2s infinite ;
  z-index: 1;
  background-color: rgba(255,255,255,0.3);
  width: 70vw;
  color: #fff;
  transition: .5s;
}
.centered:hover{
	background-color:darkslategrey;
	Border-radius: 50px;
	width: 120px;
}


hr{
	border: 3px solid #555;
	border-radius: 3px;
	background-color: #555;
	width: 80vw;
}
@-webkit-keyframes up {
  0% {

   top: 70%;
}



50% {

	top:75%;
}
100%{
	top: 70%;
}
}

@keyframes up { 
  0% {

   top: 70%;
}



50% {

	top:75%;
}
100%{
	top: 70%;
}}
article{
	background-color: #333;
	padding: 10px;
}
article h1{
	font-size: 30px;
}